<div class="leads-container">
    <h2>Disparos Automáticos</h2>
    <h2 *ngIf="isAutomaticallyFetchingLeads" style="color: green;">ativo</h2>
    <h3 style="color: green;">{{ triggerMessage }} </h3>
    <h3 style="color: red;">{{ Error }} </h3>
    <button class="styled-button"(click)="startFunction()">Iniciar Disparos</button> 

    <div class="table-container">
        <table class="responsive-table leads-table">
              <thead>
                  <tr>
                      <th>Ações</th>
                      <th>Nome</th>
                      <th>Email</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let lead of leads" [ngClass]="{'accepted': lead.Ok === true, 'rejected': lead.Ok === false}">
                      <td class="actions-column">
                          <button class="btn-accept" (click)="acceptLead(lead.Id)">✔</button>
                          <button  class="btn-remove" (click)="removeLead(lead.Id)">✖</button>
                          <button class="btn" (click)="acceptLead(lead.Id)"
                            [ngClass]="{'accepted': lead.Ok === true, 'rejected': lead.Ok === false}">
                                {{ lead.Ok === undefined ? '?' : ''}}
                                {{ lead.Ok === true ? '✅' : (lead.Ok === false ? '❌' : '') }}
                          </button>
                      </td>
                      <td>{{ lead.Nome }}</td>
                      <td>{{ lead.Email }}</td>                      
                  </tr>
              </tbody>
        </table>
    </div>
</div>
  