<nav class="custom-nav" [class.scrolled]="isScrolled">
  <div class="nav-header">
    <span class="logo">
      <i class="fa-solid fa-gem logo-icon"></i>
      Consórcios de Luxo
    </span>
    
    <button class="mobile-toggle" (click)="toggleMenu()">
      <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
    </button>
  </div>

  <div class="nav-links" [class.open]="isMenuOpen">
    <a class="nav-link" routerLink="/" (click)="closeMenu()">Início</a>
    
    <a class="nav-link featured-link lead-button" routerLink="/cartas-comtempladas" (click)="closeMenu()">
      <i class="fa-solid fa-gem"></i>
      Cartas Contempladas
    </a>
    
    <a class="nav-link" routerLink="/#about" (click)="closeMenu()">Sobre</a>
    <a class="nav-link" routerLink="/#services" (click)="closeMenu()">Serviços</a>
    <a class="nav-link" routerLink="/#testimonials" (click)="closeMenu()">Depoimentos</a>
    <a class="nav-link" routerLink="/#contact" (click)="closeMenu()">
      <i class="fa-solid fa-crown"></i>
      Contato
    </a>
  </div>
</nav>

<router-outlet></router-outlet>